body {
  font-family: "Roboto", sans-serif;
  background: #fff;
  color: #434455;
}
a {
  text-decoration: none;
}
/* header */
.header {
  border-bottom: 1px solid #e7e9fc;
  background: #fff;
}

.logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  line-height: 1.17;
}
.logo-second {
  color: #2e2f42;
}

.nav-list {
  /* display: inline-flex;
  align-items: flex-start;
  gap: 40px; */
}

.nav-list-item a {
  color: #2e2f42;

  /* Body Medium */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

.nav-list-item a:hover {
  color: #404bbf;
}

.nav-list-item a:active {
  color: #404bbf;
}

.adress-list-item a {
  color: #434455;

  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

/* section_01  */
/* section_02  */
/* section_03  */
/* section_04  */
/* footer */
